.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  font-size: 18px;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .controls {
    position: absolute;
    bottom: -50px;
    justify-content: center;
    top: inherit;
  }
}

.controls:focus {
  outline: 0;
}

.controls li {
  cursor: pointer;
}

.controls li.prev {
  position: relative;
  background-color: var(--background-secondary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--border-color);
  transition: 0.2s ease-in;
  color: var(--text-muted);
}

.controls li.prev:hover {
  background-color: var(--accent-color);
  color: var(--background-secondary);
  border-color: var(--accent-color);
}

.controls li.next {
  position: relative;
  background-color: var(--background-secondary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--border-color);
  transition: 0.2s ease-in;
  color: var(--text-muted);
}

@media (max-width: 768px) {
  .controls li.next {
    margin-left: 5px;
  }
}

.controls li.next:hover {
  background-color: var(--accent-color);
  color: var(--background-secondary);
  border-color: var(--accent-color);
}

.controls-testimonial {
  position: absolute;
  bottom: -75pt;
  justify-content: center;
  top: inherit;
}

.rec-slider-container {
  margin: 0 !important;
}

*:focus {
  outline: 0;
}

.rec-carousel-wrapper {
  position: relative !important;
}

.rec-slider {
  margin-right: -10px !important;
}

.carouselChevron {
  background: transparent;
  height: 100%;
  min-height: 100.5%; // ! FIX THAT
  width: 40px;
  min-width: 40px;
  line-height: 40px;
  text-align: center;
  border: 0;
  box-shadow: var(--accent-shadow);
  transition: all 0.2s ease-in;
  color: var(--text-primary);
  box-shadow: 0 0 150px 0 rgba(0, 0, 0, 1) inset !important;

  cursor: pointer;

  align-self: center;
  font-size: 1.4em;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 45;
  top: 50%;
  transform: translateY(-50%);

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }
}
