// .container,
// .container-fluid,
// .container-lg,
// .container-md,
// .container-sm,
// .container-xl {
//   width: 100%;
//   padding-right: 9pt;
//   padding-left: 9pt;
//   margin-right: auto;
//   margin-left: auto;
// }

// @media (min-width: 576px) {
//   .container,
//   .container-sm {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .container,
//   .container-md,
//   .container-sm {
//     max-width: 45pc;
//   }
// }

// @media (min-width: 992px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm {
//     max-width: 60pc;
//   }
// }

// @media (min-width: 1200px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl {
//     max-width: 855pt;
//   }
// }

// .container,
// .container-fluid,
// .container-lg,
// .container-md,
// .container-sm,
// .container-xl {
//   width: 100%;
//   padding-right: 9pt;
//   padding-left: 9pt;
//   margin-right: auto;
//   margin-left: auto;
// }

// @media (min-width: 576px) {
//   .container,
//   .container-sm {
//     max-width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .container,
//   .container-md,
//   .container-sm {
//     max-width: 45pc;
//   }
// }

// @media (min-width: 992px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm {
//     max-width: 60pc;
//   }
// }

// @media (min-width: 1200px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl {
//     max-width: 90em;
//   }
// }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}
