@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './globals/carousel';
@import './globals/layout';
@import './globals/assets.scss';

//* General
:root {
  --border-radius: 4px;
  --border-radius-sm: 2px;

  --accent-color: #8743ff;
  --accent-color-rgb: 135, 67, 255;
  --accent-gradient: linear-gradient(
    90deg,
    rgba(135, 67, 255, 1) 0%,
    rgba(65, 54, 241, 1) 100%
  );
  --accent-shadow: 0px 5px 20px 0 rgba(20, 102, 204, 0.04);
}

//* Vars
:root {
  --ml-light-green: #00df2d;
}

//* Darkmode
:root {
  --border-color: #303030;
  --border-color-2: #161616;

  --shadow-soft: 0px 0px 10px 0;
  --shadow-border: 0 0 0 0.25rem;

  --background-primary: #0a0a0a;
  --background-secondary: #0e0e0e;
  --background-tertiary: #fff; // static

  --text-primary: #fff;
  --text-secondary: rgb(225, 255, 255);

  --text-muted: #8c8c8c;
  --text-muted-2: #b3b3b3;
  --text-tertiary: #0a0a0a; // static
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif\;;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-secondary);
  text-align: left;
  background-color: var(--background-primary);

  user-select: none !important;
}

a:not(.no-hover) {
  color: var(--text-primary);
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

* {
  box-sizing: border-box;
}

hr {
  color: var(--border-color);
  width: 25%;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

*::selection {
  background-color: var(--accent-color);
  color: var(--text-tertiary);
}

.form-label {
  font-size: 12px;
  line-height: 13.2px;
  font-weight: 500;
}

input {
  &.form-control {
    color: var(--text-muted);
    font-weight: 400;
    background-color: var(--background-primary);
    border-radius: 10px;
    line-height: 16px;
    font-size: 14px;
    padding: 16px 20px;
    &:focus {
      background-color: var(--background-primary);
      color: var(--text-muted);
      box-shadow: none;
      border: 0;
    }
    border: 0;
  }
}

.form-check-input {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  border-radius: 50% !important;
  &:checked {
    background-color: transparent;
    border-color: var(--background-tertiary);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z' fill='white'/%3E%3C/svg%3E%0A") !important;
    background-size: 50%;
    background-position: center;
  }

  &:focus {
    border-color: var(--background-tertiary);
    box-shadow: none;
  }
}

.btn {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  background: var(--accent-gradient);
  border: 0;
  font-size: 15px;
  font-weight: 4<00;
  line-height: 16.5px;
  padding: 15px 0;
  border-radius: var(--border-radius);
  color: var(--text-tertiary);
  box-shadow: none;

  &:hover {
    color: var(--text-tertiary);
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--accent-color-rgb), 0.25);
  }

  &.rounded {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 !important;
    text-align: center !important;
  }

  &.dark {
    color: var(--text-primary);
    background: var(--background-primary);

    &:hover {
      color: var(--text-primary);
    }

    &:focus {
      box-shadow: var(--border-shadow) rgba(0, 0, 0, 0.25);
    }
  }

  &.light {
    color: var(--text-tertiary);
    background: var(--background-tertiary);

    &:hover {
      &:hover {
        color: var(--text-tertiary);
      }

      &:focus {
        box-shadow: var(--border-shadow) rgba(255, 255, 255, 0.25);
      }
    }
  }

  &.grey-light {
    color: var(--text-primary);
    background: rgba(17, 17, 17, 0.95);
    &:hover {
      color: var(--text-primary);
    }

    &:focus {
      box-shadow: var(--border-shadow) rgba(29, 29, 29, 0.25);
    }
  }
}

footer {
  // color: var(--text-muted) !important;
  opacity: 0.9;
}

header {
  height: 45vh;
  // background-image: url('/images/ui/placeholder/header.placeholder.jpg');

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vw;
    line-height: 33px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: 1.5vw;
  }
}
