@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif\;;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #5c5776;
  text-align: left;
  background-color: #f5f4f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 9pt;
  padding-left: 9pt;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 45pc;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 60pc;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 855pt;
  }
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  font-size: 18px;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .controls {
    position: absolute;
    bottom: -50px;
    justify-content: center;
    top: inherit;
  }
}
.controls:focus {
  outline: 0;
}
.controls li {
  cursor: pointer;
}
.controls li.prev {
  position: relative;
  background-color: #fff;
  height: 40px;
  width: 40px;
  margin-left: -50px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #eae7f5;
  transition: 0.2s ease-in;
  color: #beb9cd;
}
@media (max-width: 768px) {
  .controls li.prev {
    margin-right: 5px;
  }
}
.controls li.prev:hover {
  background-color: #754ffe;
  color: #fff;
  border-color: #754ffe;
}
.controls li.next {
  position: relative;
  background-color: #fff;
  height: 40px;
  width: 40px;
  margin-right: -50px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #eae7f5;
  transition: 0.2s ease-in;
  color: #beb9cd;
}
@media (max-width: 768px) {
  .controls li.next {
    margin-left: 5px;
  }
}
.controls li.next:hover {
  background-color: #754ffe;
  color: #fff;
  border-color: #754ffe;
}
.controls-testimonial {
  position: absolute;
  bottom: -75pt;
  justify-content: center;
  top: inherit;
}
