.login {
  cursor: pointer;
  --border-color: #353535;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);

  img {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-weight: 700;
    font-size: 36px;
    color: var(--text-primary);
  }

  .cardBody {
    padding: 70px 87px 0 87px;
    border: 0;
  }

  .cardFooter {
    padding: 50px 87px;
  }
}
