.login {
  cursor: pointer;
  --border-color: #353535;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);

  img {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-weight: 700;
    font-size: 32px;
    color: var(--text-primary);
    margin-bottom: 28px;
  }

  .cardBody {
    padding: 60px 68px 0;
    border: 0;
  }

  .cardFooter {
    padding: 60px 68px;
  }
}
