.card {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 0;
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 3px rgb(3 0 71 / 9%);
  color: inherit;
  display: inline-block;
  flex-basis: 45%;
  font-size: 14px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.25s ease;
  vertical-align: top;
  white-space: normal;

  a {
    transition: all 0.2s ease;
  }

  &:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
      0 4px 6px -2px rgb(0 0 0 / 5%);
  }

  .cardBody {
    padding: 1.5rem;
    border-bottom: 1px solid #eae7f5;

    h4 {
      color: var(--text-tertiary);
      overflow: hidden;
      max-height: 3rem;
      font-size: 1rem;

      &:hover {
        color: #3903fe;
      }
    }
  }

  .cardFooter {
    padding: 1rem 1.5rem;
  }
}

.avatarXS {
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
}

.Stars {
  --rating: 3;
  --percent: calc(var(--rating) / 5 * 100%);
  line-height: 1;
  font-size: 14px;

  &::before {
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    content: '★★★★★';
    line-height: 1;
    letter-spacing: 1px;
    font-size: 15px;
    margin-right: 5px;
    background: linear-gradient(
      90deg,
      #ffc107 var(--percent),
      #ffe69b var(--percent)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.topic {
  h2 {
    color: var(--text-tertiary);
    line-height: 1.4;
    letter-spacing: -0.022rem;
    font-weight: 500;
    font-size: 24px;
  }
}

.navbarOuter {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: var(--background-secondary);
  padding: 0 60px;
  box-shadow: 0 1px 3px rgb(3 0 71 / 9%);

  .navbarInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &.primaryNav .navItem {
      margin-left: 20px;
    }

    &.secondaryNav .navItem {
      margin-right: 20px;

      .navLink {
        font-size: 1.3em;
      }
    }

    .navItem {
      padding: 0;

      .navLink {
        color: var(--text-secondary);
        font-size: 14px;
      }
    }
  }
}

.avatarSelect {
  height: 25px;
  width: 25px;
  overflow: hidden;
  align-self: center;
  img {
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    max-height: 28px;
    max-width: 28px;
  }
}
